/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #242526;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}

/* HEADER STYLE */
.search {
    background: #18191A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin-bottom: 20px;
}
.logo img {
    max-width: 120px;
}
.input-search .Input {
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 120px;
    color: #fff;
    outline: none;
    transition: width .4s;
}
.input-search .Input:hover {
    width: 200px;
}
.input-search i{
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
}
.input-search i:hover {
    color: red;
}

/* MAIN STYLE */
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* MOVIES TEMPLATE STYLE */
.movies-list {
    padding: 0 20px 30px;
    width: calc(100%/5);
    position: relative;
    cursor: pointer;
}
.movies-list h5 {
    padding-bottom: 10px;
}
.poster {
    height: 300px;
}
/* hover effect */
.hover-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .4s ease-in;
    background: rgba(0, 0, 0, 0.781);
}
.movies-list:hover .hover-info { 
    opacity: 1;
    z-index: 1;
}
.list { 
    position: absolute;
    top: 0;
    left: 0;
}
.hover-info ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-size: 14px;
}
.hover-info li {
    padding-bottom: 8px;
}
.hover-info li :first-child {
    font-weight: 700;
    font-size: 14px;
}
.flag {
    vertical-align: middle;
    max-height: 15px;
    max-width: 15px;
}
.visible {
    opacity: 1;
}
.yellow {
    color: lightgoldenrodyellow;
}